* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(45deg, #3f0043, #230058);
}

canvas {
  max-width: 80vw;
  max-height: 80vh;
  display: block;
  margin: 0 auto;
}

.sidebar {
  position: fixed;
  right: -250px;
  top: 0;
  width: 275px;
  height: 100%;
  background-color: #100028;
  color: #fff;
  transition: right 0.3s ease;
  padding: 20px;
}

.sidebar .content {
  padding: 20px;
}

#toggleButton {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 25px;
  border: none;
  color: #fff;
  background: linear-gradient(90deg, #67006f, #100028);
}

.raw {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.spacedColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-left: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}
