/* Убираем все отступы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Центрируем содержимое на странице 
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb4b4;
}*/

/* Настраиваем канвас 
canvas {
  height: auto;
  width: auto;
  display: flex;
  margin: 0;
  padding: 0;
}*/
